/* head {
    background-color: chartreuse;
} */

body {
    margin: 45px
}

h1 {
    background-color: lightblue;
    text-align: center;
}

h2 {
    background-color: lightgray;
    text-align: center;
}

p {
    /* text-decoration: underline; */
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}